@media only screen and (max-width: 1550px) {
  body {
    background-color: red;
  }
  .sticky{
    font-size: 1.53em;
    min-width: 225px;
    max-width: 225px;
    height: 225px;
  }

  #error-messages{
    bottom: -240px;
  }

  #bulletin-board{
    width: 810px;
  }

  #board-border{
    min-width: 830px;
  }
  
  #done-border{
    min-width: 380px;
  }
  
  #done-board{
    min-width: 360px;
  }

  
  #title h1{
    width: 450px;
    height: 90px;
    }
}

@media only screen and (min-width: 1550px) {
  .sticky{
    font-size: 1.7em;
    min-width: 250px;
    max-width: 250px;
    height: 250px;
  }

  #error-messages{
    bottom: -265px;
  }

  #bulletin-board{
  width: 900px;
  }

  #board-border{
    min-width: 920px;
  } 

  #done-border{
    min-width: 420;
  }
  
  #done-board{
    min-width: 400;
  }

  #title h1{
  width: 500px;
  height: 100px;
  }
}