.pushpin{
  position: absolute;
  height: 15px;
  width: 15px;
}

#pushpin1{
  right: 19px;
  top: 13px;
  transform: rotate(40deg);
}

#pushpin2{
  left: 10px;
  top: 5px;
  transform: rotate(-20deg);
}

#pushpin3{
  left: 50px;
  top: 0px;
  transform: rotate(10deg);
}

#pushpin4{
  left: 140px;
  top: 0px;
  transform: rotate(40deg);
}

#pushpin5{
  left: 30px;
  top: -5px;
  transform: rotate(70deg);
}

#pushpin1:before {
  content: ':)';
  color: red;
  position: absolute;
  top: -5%;
  left: 40%;
  width: 1px;
  height: 10px;
  background-color: rgb(0, 0, 0);
}

#pushpin1:after {
  content: '';
  position: absolute;
  top: -80%;
  left: 5%;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(160deg, #fd6767, #7e0202);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#pushpin2:before {
  content: '';
  position: absolute;
  left: 85%;
  width: 1px;
  height: 15px;
  background-color: rgb(0, 0, 0);
}

#pushpin2:after {
  content: '';
  position: absolute;
  top: -70%;
  left: 45%;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(160deg, #449bff, #02157e);
  box-shadow: 5px 15px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#pushpin3:before {
  content: '';
  position: absolute;
  left: 85%;
  width: 1px;
  height: 10px;
  background-color: rgb(0, 0, 0);
}

#pushpin3:after {
  content: '';
  position: absolute;
  top: -70%;
  left: 45%;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(160deg, #44ff8c, #2a5803);
  box-shadow: 5px 15px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#pushpin4:before {
  content: '';
  position: absolute;
  left: 85%;
  width: 1px;
  height: 7px;
  background-color: rgb(0, 0, 0);
}

#pushpin4:after {
  content: '';
  position: absolute;
  top: -70%;
  left: 45%;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(160deg, #fffd74, #919400);
  box-shadow: 5px 10px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#pushpin5:before {
  content: '';
  position: absolute;
  left: 85%;
  width: 1px;
  height: 10px;
  background-color: rgb(0, 0, 0);
}

#pushpin5:after {
  content: '';
  position: absolute;
  top: -70%;
  left: 45%;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(160deg, #449bff, #02157e);
  box-shadow: 5px 10px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}